body {
  background-image: url(img/epic_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #005086;
  padding: 20px;
  font-weight: 400;
}

h1 {
  margin: 0;
  font-size: 75px;
  line-height: 75px;
  text-align: center;
  font-weight: 400;
  background-color: #fff;
  padding: 10px;
}

ul {
  margin: 0 auto 30px auto;
  padding: 0;
  list-style-type: none;
  max-width: 900px;
  width: 100%;
  text-align: center;
  user-select: none;
}

li {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  font-size: 26px;
  padding: 15px;
  width: 130px;
  height: 130px;
  line-height: 100px;
  transition: all 0.4s ease-in-out;
  margin: 20px;
}

.door-container {
  position: relative;
  width: 130px;
  height: 130px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure the background is behind the door */
  border-radius: 6px;
}

.door {
  user-select: none;
  color: #fff;
  font-size: 35px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #9fd4f7;
  box-sizing: border-box;
  border-top: 2px #eee dashed;
  border-right: 2px #eee dashed;
  border-bottom: 2px #eee dashed;
  border-left: 2px #eee dashed;
  border-radius: 6px;
  padding: 15px;
  width: 130px;
  height: 130px;
  transform-origin: 0 40%;
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;
  z-index: 1; /* Ensure door is on top of background */
}

.revealed {
  user-select: none;
}

.open {
  box-shadow: 14px 0px 15px -1px rgba(0, 0, 0, 0.2);
  color: #005086;
  transform: rotate3d(0, 1, 0, -98deg);
}

.jiggle {
  animation: jiggle 0.2s infinite;
  transform: rotate(-1deg);
}

.text-overlay {
  position: absolute;
  top: 3.8em;
  padding-left: 1em;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7); /* Optional: adds shadow for better visibility */
}

.symbol {
  position: absolute;
  font-size: 50px;
  pointer-events: none; /* So the symbol doesn't block clicks */
  color: #f1c149;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  z-index: 1;
}

.howtoplay{
background-color: #fff;
padding: 2em;
font-size: 17px;
max-width: 15em;
z-index: 1;
position: absolute;
bottom: 3em;
}

.howtoplay h2{
  font-size: 36px;
  margin: 0;
  }

@keyframes jiggle {
  0%, 100% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
}

@media screen and (min-width: 480px) {
  li {
    margin: 25px 20px;
  }
}

  
